@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font: medium 'Roboto', sans-serif;    
}
a{
    text-decoration: none;
}
a:visited{
    color:inherit;
}
a:link{
    color:inherit;
}
a:hover{
    position: stretch;
}
:root {
    --color-hover-blue: #A6C8BE;
    --color-deep-blue: #2D607C;
    --color-dark-blue: #193C50;
    --color-light-green: #A6C8BE;
}
.menu{ 
    background-color: var(--color-deep-blue) !important;
    font-size: 18px;
    color: #FDFDFD !important;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}
.menu-active {
    background-color: var(--color-dark-blue) !important;
}
.menu:hover{
    background-color: var(--color-dark-blue) !important;
    box-shadoW: 4px 4px 9px rgba(0, 0, 0, 0.25);
}
.homebutton{
    width: 37px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 8px;
    padding: 16.5px;
    margin-left: 100px;
    margin-top: 9.5px;
}
.project-name{
    display: block;
    background-color: white;
    width: 540px;
    height: 50px;
    margin-top: 20px;
    border-radius: 6px;
    border: 0px solid white; 
    font-size: 18px;
    color: var(--color-dark-blue);
    margin-left: 29px;
    font-family: inherit; 
    line-height: inherit; 
    padding-left: 31px;
    color: #193C50;
}
.project-name::placeholder{
    color: var(--color-dark-blue);
    font-size: 18px;
}
.value{
    color:white;
    margin-top: 30px;
    margin-left: 68px;
}

.progress{
    width: 370px;
    height: 24px;
    margin-left: 30px;
    margin-top: 30px;
}

.panel{
    width: 100%;
    height: 90px;
    background: var(--color-deep-blue);
    display: flex;
  justify-content: center;
}
.block-tabs p{
    width: 121.6px;
    height: 26px;
    padding-left: 6px;
    padding-top: 4px;
    border-radius: 6px;
    margin: 5px;   
}
.block-tabs{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.tabs:hover{
    background: #fdc94eb9;
    
 }
.tabs{
    background-color: #BDD3CC;
    font-size: 18px;
    color: #193C50;
    margin: 5px;  
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.tabs-active{
    background-color: #FDBA1A;
    font-size: 18px;
    margin: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.tabs-active:hover{
    background-color: #FDBA1A !important;
}
.card{
    display:flex;
    margin-top:0px;
    justify-content: center;
}
.title{
    display:flex;
    background-color: var(--color-deep-blue); 
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.title-name{    
    color: #FDFDFD;
    font-size: 24px;
    height: 16;
    padding-left: 37px;
    padding-top: 22px;
    padding-bottom: 22px; 
}
.team-info{
    margin: 0px;
    padding-top: 25px;
    padding-left: 10px;   
    display: inline-block;
    position: relative;
}
.team-info:hover::after, 
.info:hover::after { 
    content: attr(data-title);
    position: absolute;
    font-family:inherit;
    z-index:1;
    background: rgba(255, 255, 200, 0.7); 
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 200, 0);
    padding: 5px 5px;
    margin: 15px;
   /* width:200px;
    height:40px;*/
   }
.main {
    background: #EFECEC;
    font-size: 24px;
    width: 830px;
    min-height: 501px;
    margin-top: 64px;
    border-radius: 10px;   
}
.table{
    margin-top: 2rem;
    margin-left: 2.4rem;
}
.team-text, .team-selector{
    margin-left: 1.8rem;
    margin-top: 0.75rem;
}
.team-selector{
   margin-right: 1rem;
}
.person-adder{
    display: flex;
}
.team-person, .team-plus-button{
    display:flex;
    margin-bottom: 1.8rem;    
}
.text{
    display: block;
    background-color: white;
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 6px;
    border-color: white;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    font-size: 18px;
    padding: 0 0 0 15px;
    color: #193C50;
    border: 0px solid;
}
.text::placeholder{
    color: #BDD3CC;
}
.touch-selector{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 4px 0px 5px 20px; width: 100%;
    color: #193C50; 
    background-color: #BDD3CC;
    background-image: url(../images/selector.svg);
    background-repeat: no-repeat;
    background-position: right 20px top 50%, 0 0;
    width: 160px;
    height: 30px;
    border-radius: 7px;
    border: 0px solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.touch-selector:hover{
    background-color: var(--color-hover-blue)
}
.plus-button{
    margin-left: 2.7rem;
}
.plus{
    padding-left: 15px;
}
.button{
    display: block;
    background-color: #BDD3CC;
    width: 420px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 6px;   
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 0px 0px 0px 15px;
    color: #193C50;
    border: 0px solid;
}
.button:hover{
    background-color: var(--color-hover-blue);
}
.arrow{
    padding: 212px 27px;
    margin-top: 57px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25)
}
.arrow:hover{
    border-color: #BDD3CC;
    background-color: #fdfafa;
}
.textarea{
    width: 550px;
    height: 60px;
    font-family: inherit;
    font: 18px;
    background-color: #FDFDFD;
    border-radius: 6px;
    border: 0px;
    padding:10px 10px;
    color: #193C50;
    margin-top: 5px;
    resize: none
}
.textarea::placeholder{
    color: #BDD3CC;
    font-size: 18px;
    min-height: 60px;
}
.strings{
    font-size: 18px;
    color: #193C50;
}
.block-info{
    background-color: #BDD3CC;
    width: 140px;
    height: 24px;
    border-radius: 7px;
    display: flex;
    font-size: 14px;
    color: #2D607C;
    margin-left: 12px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-left: 10px;
}
.text-area-block{
    margin-bottom: 0.5rem;
    position: relative
}
.no-cross {
    width: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 2.2rem;
    display: none
}
.cross {
    display: block
}
.combo{
    display: flex;
}
.info{
    position: absolute;
    margin-left: 110px;
}
.block-input{
    display: block;
    background-color: white;
    width: 140px;
    height: 30px;
    margin-bottom: 0px;
    border-radius: 7px; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin-left: 12px;
    font-size: 14px;
    padding-left: 9px;
    color: #2D607C;
    border: 0px solid;
}
.block-input::placeholder{
    color: #BDD3CC;
    font-size: 14px;
}
.trash-bin-none {
    margin-left: 12px;
    width: 0.9rem;
    margin-right: 15px;
    position: middle;
    margin-bottom: 12px;
    display: none !important;
}
.trash-bin {
    display: block !important;
}
.no-display {
    display: none
}
.litter{
    background-color: #BDD3CC;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    font-size: 24px;
    color: #FDFDFD;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 12px;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}
.problem{
    display:flex;
}
.action{
    display:flex;
    
}
.back-action{
    background-color: #BDD3CC;
    width: 140px;
    height: 30px;
}

.economic{
    width: 100%;
}
.block-info-1{
    background-color: #BDD3CC;
    width: 140px;
    height: 24px;
    border-radius: 7px;
    display: flex;
    font-size: 14px;
    color: #2D607C;
    margin-left: 12px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-left: 10px;
}
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0px solid #adb5bd;
    border-radius: 8px;
    margin-right: 7px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #fdfdfd;
  }
.custom-checkbox:checked+label::before {
    background-color: var(--color-deep-blue);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
.structure-panel{   
    display: table-cell;
    color: #193C50;
    font-size: 18px;
    background-color: #BDD3CC;
    width: 715px;
    height: 30px;
    border-radius: 6px;
    padding-left: 55px;
    vertical-align: middle;   
}
.structure-panele-move{
    margin-left: 30px;
    margin-top: 6px;
}
.string{
    display: flex;
    width: 100%;
    margin-left: 80px;
    align-items: center;
}
.stages-tittles{
    display: flex;
    margin-left: 80px;
    margin-top: 30px;
}
.stages-tittle{
    margin-left: 390px;
    margin-right: 38px;

}
.thin-text{
    display: block;
    background-color: white;
    width: 445px;
    height: 18px;
    margin-top: 6px;
    border-radius: 8px;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    font-size: 14px;
    padding: 0 0 0 15px;
    border: 0px solid;
    color: #193C50;
}
.thin-text::placeholder{
    color: #BDD3CC;
    font-size: 14px;
}
.touch-selector-mini{
    /*display: block;*/
    font-size: 14px;
    font-weight: 700;
    /*padding: 4px 0px 5px 20px; width: 100%;*/
    color: #193C50; 
    background-color: #fdfdfd;
    background-image: url(../images/selector.svg);
    background-repeat: no-repeat;
    background-position: right 8px top 50%, 0 0;
    background-size: 15%;
    width: 70px;
    height: 18px;
    border-radius: 3px;
    border: 0px solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-left: 20px;
    margin-top: 6px;
}
.date{
    width: 64px;
    height: 16px;
    border-radius: 3px;
    border: 0px solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    appearance: none;
    margin-left: 25px;
    margin-top: 6px;
    background-color: #fdfdfd;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-position: right 50% top 50%, 0 0;
    
}

.date::-webkit-datetime-edit-fields-wrapper,
.date::-webkit-datetime-edit{
    display: none;
    margin: 0; 
}
.date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input::-webkit-clear-button {
    display: none;
}
.mini-plus{
    margin-left: 80px;
}
.mini-plus:hover{
    -webkit-filter: drop-shadow( 1px 1px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3));
}
.card-left{
    margin-left: 30px;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}
.card-right{
    margin-right: 10px;
    margin-top: 25px;
}
.combo-label{
    margin-left: 55px;
    margin-bottom: 5px;
}
.card-left-smart{
    margin-left: 30px;
}
.text-smart{
    background-color: white;
    width: 513px;
    height: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    border-color: white;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0;
    font-size: 18px;
    padding: 0 0 0 15px;
    color: #193C50;
    border: 0px solid;
}
.text-smart::placeholder{
    color: #BDD3CC;
}
.smart-block{
    margin-bottom: 10px;
}
.pattern{
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
    margin-right: 31px;
    margin-top: 21px;
    align-items: center;
}
.pattern-title{
    margin-left: 31px;
}
.text-small{
    background-color: white;
    min-width: 364px;
    height: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    border-color: white;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0;
    font-size: 18px;
    padding: 0 0 0 15px;
    color: #193C50;
    border: 0px solid;
}
.text-small::placeholder{
    color: #BDD3CC;
    font-size: 18px;
}
.mini-text{
    background-color: white;
    min-width: 161px;
    height: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    border-color: white;
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0;
    font-size: 18px;
    padding: 0 0 0 15px;
    color: #193C50;
    border: 0px solid;
}
.mini-text::placeholder{
    color: #BDD3CC;
    font-size: 18px;
}
.child {
    margin-left: 9px;
    margin-bottom: 15px;

}
.files-list
{
    margin-top: 50px;
}
.files-data
{
    display: flex;
    margin-top: 24px;
    align-items: center;
}
.add-data, .small-data
{
    width: 227px;
    margin-left: 17px;
    display: block;
    height: 30px;
    border-radius: 6px;   
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 0px 0px 0px 15px;
    color: #193C50;
    border: 0px solid;
    position: relative;
    z-index: 1;
}
.add-data{
    background-color: rgba(189, 211, 204);
}
.file-add
{
    margin-bottom: 2.4rem;
}
.background-data{
    background-color: white;
    z-index: -2;
    width: 227px;
    height: 30px;
    border-radius: 6px;  
    position: absolute;
    top: 0;
    left: 0;
}
.cross:hover{
    -webkit-filter: drop-shadow( 1px 1px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3));
}

.trash-bin:hover{
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.14));
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.12));
}

:root {
    --color-deep-blue: #2D607C;
    --color-dark-blue: #193C50;
    --color-light-green: #A6C8BE;
}
.project-status{
    display: flex;
    margin-bottom: 40px;
}
.fill-project{   
    background-color: #FDBA1A;
    height: 46px;
    width: 261px;
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 40px;
    color: white;
    font-size: 24px;
    text-align: center;
    
}
.indicators{
    display: flex;
    margin-left: 40px;
}
.indicator{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 60px;
    background-color: #BDD3CC;
}
.card-pack{
    margin: 0px auto;
    margin-top: 35px;
    width: 1172px;
}
.blank{
    background-color: #EFECEC;
    min-height: 323px;
    border-radius: 10px;
}
.title-head{
    width: 100%-15px;
    height: 45px;
    background-color: #2D607C;
    border-radius: 10px;
    color: white;
    padding-left: 25px;
    padding-top: 15px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.edit{
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 2px;
}
.edit:hover{
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.box-1{
    width: 48.5%;
    min-height: 469px;
}
.box-2{
    width: 31.5%
}
.box-3{
    width: 150%;   
}
.box-4{
    width: 65%;
}
.box-5{
    width: 31.5%;
}
.blank-body{
    max-width: 480px;
    margin: 0px auto;
}
.blank-header{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.blank-header div:nth-child(2){
    margin-left: 215px;
}
.blank-header div:nth-child(3){
    margin-left: 40px;
}
.stages-name-string{
    width: 100%;
    min-height: 25px;
    background-color:  var(--color-light-green);
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 6px;
    color: var(--color-dark-blue);
    font-weight: 700; 
    font-size: 18px;
}
.stages-data-string{
    display: flex;
    width: 95%;
    margin-left: 38px;
    margin-top: 2px;
}
.plusik{
    margin-left: 38px;
    margin-top: 6px;
}
.team-main{
    max-width: 446px;
    margin: 0px auto;
    margin-top: 21px;
}
.team-person{
    display: flex;
    margin-bottom: 37px;
}
.team-person div:nth-child(2){
    margin-left: 36px;
}
.person-status{
    margin-top: 15px;
    height: 26px;    
    border: none;
    border-radius: 6px;
    padding-left: 18px;
    padding-top: 4px;
}
.person-name::placeholder, .person-role::placeholder{
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 600;
}
.person-name{
    max-width: 212px;
    min-width: 100px;
}
.person-role{
    width: 107px;
    margin-left: 36px;
}
.text-conteiner-short{
    max-width: 333px;
    margin-top: 30px;
    margin-left: 15px;   
}
.text-conteiner-long{
    max-width: 1132px;
    margin-top: 30px;
    margin-left: 15px;  
}
.textarea-menu::placeholder{
    color: var(--color-dark-blue);
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 700;
}
.textarea-menu{
    border-radius: 7px;
    border: none; 
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.economic-menu{
    max-width: 734px;
    margin: 0px auto;
}
.economic-title-menu {
    display: flex;
    margin-left: 50px;
    margin-top: 17px;
    margin-bottom: 9px;
  }
  .economic-title-menu div:nth-child(2) {
    margin-left: 160px;
  }
  .economic-title-menu div:nth-child(3) {
    margin-left: 35px;
  }
  .economic-title-menu div:nth-child(4) {
    margin-left: 55px;
  }
  .increment-number-menu {
    background-color: var(--color-light-green);
    width: 30px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    color: var(--color-dark-blue);
    font-size: 18px;
    padding-top: 5px;
    font-weight: 700;
  }
  .economic-data-string-menu .economic-data-menu::placeholder {
    color: var(--color-dark-blue);
    padding-left: 18px;
    font-size: 18px;
    font-weight: 700;
  }
 
  .economic-data-string-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .economic-data-menu {
    border: none;
    border-radius: 6px;
    height: 28px;
  }
.data-name-menu{
    width: 212px;
}
.data-quantity-menu{
    width: 71px;
}
.data-price-menu{
    width: 71px;
}
.data-link-menu{
    width: 250px;
}
.file-conteiner{
    margin-top: 30px;
    margin-left: 14px;
    max-width: 314px;
}
.file-box{
    color: var(--color-dark-blue);
    font-size: 18px;
    width: 100%;
    padding-left: 19px;
    padding-top: 5px;
    background-color: white;
    border-radius: 8px;
    height: 25px;
    margin-bottom: 30px;    
}
.parametr-adder{
    margin-bottom: 1.8rem;
}

.main{position:relative}.economic-title{display:flex;margin-left:120px;margin-top:35px;margin-bottom:5px}.economic-title div:nth-child(2){margin-left:135px}.economic-title div:nth-child(3){margin-left:100px}.economic-title div:nth-child(4){margin-left:150px}.economic-data-string{display:flex;margin-bottom:14px}.economic-data-string .increment-number{background-color:#2d607c;width:30px;height:25px;border-radius:8px;text-align:center;color:#fff;font-size:18px;padding-top:5px;margin-top:4px}.economic-data-string .economic-data::-moz-placeholder{color:#bdd3cc;padding-left:18px;font-size:18px;font-weight:700}.economic-data-string .economic-data:-ms-input-placeholder{color:#bdd3cc;padding-left:18px;font-size:18px;font-weight:700}.economic-data-string .economic-data::placeholder{color:#bdd3cc;padding-left:18px;font-size:18px;font-weight:700}.economic-data-string .economic-data{border:none;border-radius:6px;height:30px}.economic-data-string .economic-button{background-color:#bdd3cc;text-align:left;padding-left:20px;font-size:18px;color:#2d607c;font-weight:700;margin-bottom:50px}.economic-data-string div:nth-child(1){margin-left:23px}.economic-data-string div:nth-child(2){margin-left:20px}.economic-data-string div:nth-child(3),.economic-data-string div:nth-child(4),.economic-data-string div:nth-child(5){margin-left:15px}.economic-data-string .plus-img{margin-top:4px}.economic-data-string .data-name{width:227px}.economic-data-string .data-quantity{width:71px}.economic-data-string .data-price,.economic-data-string .data-link{width:170px}.economic-total{display:flex}.economic-total .total-block{text-align:center;padding-top:3px;font-size:18px;min-width:69px;height:27px;border-radius:6px}.economic-total .total{background-color:#fdba1a;margin-right:31px}.economic-total .summ{background-color:#bdd3cc}.economic-total-block{position:absolute;bottom:30px;right:240px}

.user-form{
    background-color: #BDD3CC;
    border-radius: 10px;
    margin-left: 31px;
    margin-right: 31px;
    margin-top: 21px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 23px;
    color: #193C50;
    display: none
}
.user-form-active {
    display: block;
}
.form{
    display: none !important;
}
.form-active {
    display: block
}
.input-wrapper {
    width: 210px;
    position: relative;
    margin: 0;
    text-align: center;
    margin-left: 17px;
  }
.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input-file-button-text {
  line-height: 1;
  margin-top: 1px;
}
.input-file-button {
  width: 100%;
  max-width: 210px;
  height: 30px;
  background: white;
  color: var(--color-dark-blue);
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 6px;
  cursor: pointer;
  padding: 0px 0px 0px 15px;
  margin: 0 auto;
}
